target/
.DS_Store
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.gz
*.zip


### NetBeans ###
nbproject/private/
build/
nbbuild/
log/
nbdist/

### TQ ###

node_modules/
_book/
rsqldb-parser/src/main/antlr4/com.alibaba.rsqldb.parser/gen/
SqlLexer.tokens
*/dependency-reduced-pom.xml

